@import '../abstract/varibles';

@keyframes moveinleft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveinright{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveinbottom{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
   80%{
       transform: translateY(-20px);
   }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}