@import '../abstract/varibles';
.section-about{
    background-color: $color-grey-ligt-1;
    padding: 25rem 0;
    margin-top:-20vh ;
    margin-left:auto;
    margin-right: auto;
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 1s;
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color: #000000, $alpha: 0.6);
    }
}
.section-features{
    margin-top: -8rem;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)),url(../img/nat-4.jpg);
    width:100%;
    background-size: cover;
    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }
}
.section-tours{
    margin-top: -10rem;
    background-color: $color-grey-ligt-1;
    padding: 25rem 0 15rem 0;
}

.section-stories{
    padding:15rem;
    background-color: $color-grey-ligt-1;
}